<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NuGet.CommandLine" version="5.8.0" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.Data.Sqlite.Core" version="5.0.1" targetFramework="native"/>
  <package id="Microsoft.Toolkit.Uwp.UI.Controls.DataGrid" version="6.1.1" targetFramework="uwp"/>"
</packages>